@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lora:400');
@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela&display=swap');
@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

#container {
  font-family: 'Karla';
  padding-top:5%;
  background-color: white;
}
#main_content {
  padding: 0% 0% 0%;
  height: 100%;
  width:100%;
  font-size: 18px;
}
#clear {
    clear: both;
}

#coursework{
  padding-top: 5%;
}
#email {
  padding-top: 2.5%;
}
#description {
  width: 50%;
  font-size: 18px;
}

#logo {
  width:10%;
  height:100%;
  padding: 0% 5% 0%;
}

#title {
  width:100%;
  height: 100%;
  font-size: 14px;
  padding: 5% 0% 5%;
}

#menu_left {
  background-position: left;
}

#introduction {
  padding-bottom: 5%;
  font-size: 35px;
  font-weight: bold;
  width: 40%;
}

hr {
  padding: 0% 0% 0%;
}

img {
  border-radius: 5px;
  display: inline;
}
body {
  padding: 0% 5% 0%;
  background-color: white;
}

span{
  background-color: rgb(129, 207, 252);
}

.menubar {
  background-color: black;
}

.a-links {
  color: black;
  font-size: 18px;
  transition: all 100ms ease;
}
.split {
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
  background-color: white;
  width:50%;
}

.left {
  left: 0;
  padding-left: 5%;
  background-color: white;
}

.right {
  padding-left: 35%;
  right: 0;
  padding-right: 5%;
  background-color: white;

}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.description {
  padding-top: 5%;
  width: 50%;
  font-size: 18px;
}

.bg-image {
  background-image: url('./PN_TDC_Party_cropped_2.png');
  opacity: 0.3;
  filter: blur(0px);
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.bg-text {
  background-color: rgba(256,256,256, 0.4);
  color: black;
  position: center;
  z-index: 2;
  height:100%;
  transform: translate(0%, -100%);
  border-radius: 5px;
}


.bar1, .bar2, .bar3 {
  width: 25px;
  height: 2px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}


.show {
  display: block;
}

.row {
  padding: 2% 0% 0%;
}

.column {
  flex: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  /*padding: 10px;*/
}

.grid-container > div {
  text-align: left;
  /*padding: 20px 0;*/
  font-size: 18px;
}

/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

/* visited link */
a:visited {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

/* mouse over link */
a:hover {
  color: black;
  text-decoration: none;
  border-bottom: none;
}

/* selected link */
a:active {
  color: blue;
}