@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lora:400');
@import url('https://fonts.googleapis.com/css?family=Archivo');
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

#container {
  font-family: 'Roboto', serif;
  font-weight: 400;
  background-color: white;
  padding: 5% 5% 0%;
  height: 100vh;
  font-size: 14px;
}

#description {
  height: 25%;
  width: 50%;
  padding:2% 0% 2%;
}

#Title {
  padding: 5% 0% 0%
}
hr {
  padding: 5% 0% 5%;
}

img {
  width: 20%;
  border-radius: 4px;
  float: right;
  display: inline;
}
body {
  padding: 0px 10% 0px;
  background-color: white;

}
