@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn&display=swap');


#container {
    font-family: 'Karla';
}

/*Home page*/
#description {
  width: 50%;
  font-size: 18px;
}

#email {
  padding-top: 2.5%;
}

#introduction {
  padding-bottom: 5%;
  font-size: 35px;
  font-weight: bold;
  width: 40%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  /*padding: 10px;*/
}

.grid-container > div {
  text-align: left;
  /*padding: 20px 0;*/
  font-size: 18px;
}
/* The navigation bar */
.navbar {
  overflow: hidden;
  display: flex;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height:10%;
  padding: 0% 10% 0%;
}

.navbar-right {
    float: right;

}

/*Normal Links*/

/* unvisited link */
a:link {
  color:black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

/* visited link */
a:visited {
  text-decoration: none;
  border-bottom: 2px solid black;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  border-bottom: none;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  color:black;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease;
}

.navbar-right a {
  float: left;
  color:black;
  text-align: center;
  text-decoration: none;
  transition: all 100ms ease;
  margin: 5px;
}

.navbar a:link {
  text-decoration: none;
  border-bottom: 2px solid black;
}

.navbar a:visited {
  text-decoration: none;
  border-bottom: 2px solid black;
}
/* Change background on mouse-over */
.navbar a:hover {
  text-decoration: none;
  border-bottom: none;
}

/* Main content */
.main {
  padding: 5% 10% 2.5%; /* Add a top margin to avoid content overlay */
}