@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Mono:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Monoton&family=Righteous&display=swap');

body {
    background-color: #9575A3; /*Mauve*/
    font-family: 'Bungee', cursive;
    margin-top:0;
    color: #61486C;
}

#main {
    align-content: center;
    padding: 5% 10% 5%;
    display:block;
}

#title {
    text-align: center;
    font-size:32px;
}

.images {
    float:left;
    width:33%;
    padding:5% 0% 10% 2.5%;
}
.content {
    float:right;
    width:57%;
    padding-top: 10%;
}
